DB_URI="mongodb+srv://nirmiteefashion:nirmiteefashion@cluster0.xqjx8xs.mongodb.net/NirmiteeFashion?appName=Cluster0"

SECRET_KEY="VtV3TpIis+ZGKhEBkiAHLMvlyM2kIk9x+O7sx8tr3N8="

NODEMAILER_PORT="smtp.gmail.com"
NODEMAILER_HOST="587"
NODEMAILER_EMAIL="shubhs.bankar@gmail.com"
NODEMAILER_PASSWORD="ibxt hxxp zztx pukk"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_API_BASE_URL="http://localhost:3000/api"

NODE_ENV='development'

CLOUDINARY_URL=cloudinary://859478764213764:Qa2qOieNecLkSS-wbIG5D11NyY0@dwcgtu013

NEXT_PUBLIC_CLOUDINARY_API_KEY='859478764213764'
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME='dwcgtu013'
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET='nirmitee-fashion'
CLOUDINARY_SECRET_KEY='Qa2qOieNecLkSS-wbIG5D11NyY0'

NEXT_PUBLIC_RAZORPAY_API_KEY='rzp_test_Ru7EH5MVnM9Jf7'
RAZORPAY_KEY_SECRET='DVIa7D9fdyV8ZKJxRaH7fPqC'
